body {
    font-family: Arial, sans-serif;
    padding: 15px;
    width: 300px; /* Lebar popup */
    background-color: #f0f2f5;
    color: #333;
    position: relative; /* Added for absolute positioning of the button container */
    border: 2px solid black;
    box-sizing: border-box;
}
.header-popup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: flex-start; */
    gap: 8px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
}
.top-right-button-container {
    /* position: absolute; */
    /* top: 10px; */
    /* right: 10px; */
    z-index: 1000;
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
}

.icon-button {
    background-color: #3498db;
    color: white;
    border: 2px solid black;
    border-radius: 0;
    cursor: pointer;
    font-size: 14px; /* Smaller icon */
    padding: 5px 8px; /* Smaller padding */
    width: auto; /* Override 100% width */
}

.icon-button:hover {
    background-color: #2980b9;
}

h1 {
    color: #2c3e50;
    /* margin-bottom: 15px; */
    font-size: 16px;
    /* margin-top: 30px; */ /* Adjust h1 position to not overlap with the button */
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form select,
form textarea,
.form-control-plaintext {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 0;
    box-sizing: border-box;
    word-wrap: break-word; /* Untuk URL */
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 0;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #2980b9;
}

#statusMessage {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    color: #28a745; /* Warna hijau untuk sukses */
}

#openSidePanelButton {
    background-color: #4CAF50; /* Warna hijau */
}

#openSidePanelButton:hover {
    background-color: #45a049;
}

.footer-credit {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-size: 0.8em;
    color: #666;
}

.footer-credit a {
    color: #3498db;
    text-decoration: none;
}

.footer-credit a:hover {
    text-decoration: underline;
}
