body {
    background-color: #f0f2f5;
    border: 2px solid black;
}

.form-control, .btn, .list-group-item {
    border-radius: 0 !important;
    border: 2px solid black !important;
}

.container {
    max-width: 600px;
}